<!-- body here  -->
<div class="container-fluid">
    <div class="m-4">
        <h5 class="mb-3">Smartphones</h5>
        <div class="box-shadow px-4">
            <div class="row justify-content-between py-3">
                <div class="row col-4">
                    <img src="/public/images/nothing phone 1.jpg" alt="" height="80px">
                    <div>
                        <h6>product name</h6>
                        <p class="m-0">Qty : 1</p>
                        <p class="m-0">Warranty : 2 years</p>
                    </div>
                </div>
                <div class="col-4">
                    <p><span class="h6">Highlights:</span>* Effective Pixels: 24.3 MP
                        * Sensor Type: CMOS
                        * Wifi Available
                        * 4K UHD</p>
                </div>
                <div>

                    <h5 class="text-right">Price</h5>
                    <div>
                        <button class="btn btn-success">Edit</button>
                        <button class="btn btn-success">Remove</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between py-3">
                <div class="row col-4">
                    <img src="/public/images/nothing phone 1.jpg" alt="" height="80px">
                    <div>
                        <h6>product name</h6>
                        <p class="m-0">Qty : 1</p>
                        <p class="m-0">Warranty : 2 years</p>
                    </div>
                </div>
                <div class="col-4">
                    <p><span class="h6">Highlights:</span>* Effective Pixels: 24.3 MP
                        * Sensor Type: CMOS
                        * Wifi Available
                        * 4K UHD</p>
                </div>
                <div>

                    <h5 class="text-right">Price</h5>
                    <div>
                        <button class="btn btn-success">Edit</button>
                        <button class="btn btn-success">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-4">
        <h5 class="mb-3">Smartphones</h5>
        <div class="box-shadow px-4">
            <div class="row justify-content-between py-3">
                <div class="row col-4">
                    <img src="/public/images/nothing phone 1.jpg" alt="" height="80px">
                    <div>
                        <h6>product name</h6>
                        <p class="m-0">Qty : 1</p>
                        <p class="m-0">Warranty : 2 years</p>
                    </div>
                </div>
                <div class="col-4">
                    <p><span class="h6">Highlights:</span>* Effective Pixels: 24.3 MP
                        * Sensor Type: CMOS
                        * Wifi Available
                        * 4K UHD</p>
                </div>
                <div>

                    <h5 class="text-right">Price</h5>
                    <div>
                        <button class="btn btn-success">Edit</button>
                        <button class="btn btn-success">Remove</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between py-3">
                <div class="row col-4">
                    <img src="/public/images/nothing phone 1.jpg" alt="" height="80px">
                    <div>
                        <h6>product name</h6>
                        <p class="m-0">Qty : 1</p>
                        <p class="m-0">Warranty : 2 years</p>
                    </div>
                </div>
                <div class="col-4">
                    <p><span class="h6">Highlights:</span>* Effective Pixels: 24.3 MP
                        * Sensor Type: CMOS
                        * Wifi Available
                        * 4K UHD</p>
                </div>
                <div>

                    <h5 class="text-right">Price</h5>
                    <div>
                        <button class="btn btn-success">Edit</button>
                        <button class="btn btn-success">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>