<!-- body here  -->
<div id="SignupSection" class="text-center">
    <div class="d-flex p-4">
        <h3 class="mr-2">Sign Up</h3>
        <img src="/public/images/sellers-green.svg" alt="" style="width:50px ;">
    </div>
    <p class="text-left pl-4 text-secondary">Please fill this form to create an Account.</p>
    <form class="mx-3" method="post">
        <!-- shop Name input -->
        <div class="mb-4">
            <input type="text" placeholder="Shop name" class="form-control" name="shopName" required />
        </div>
        <!-- Email input -->
        <div class="mb-4">
            <input type="email" placeholder="E-mail Address" name="email" class="form-control" required />
        </div>

        <!-- phone input -->
        <div class="mb-4">
            <input type="email" placeholder="phone" name="phone" class="form-control" required />
        </div>

        <!-- address input -->
        <div class="mb-4">
            <textarea class="form-control" rows="3" name="address" placeholder="Address" required></textarea>
        </div>

        <!-- Password input -->
        <div class="mb-4">
            <input type="password" placeholder="Password" name="password" class="form-control" required />
        </div>
        <div>
            <input type="password" placeholder="Confirm Password" name="password" class="form-control" required />
        </div>
        <a class="d-block text-right pt-1" href="/changepass" style="text-decoration: none;">forgot password ?</a>
        <button type="submit" class="btn btn-success d-block">Sign Up</button>
    </form>
</div>
<p class="text-center pt-3 text-secondary">I already have an account? <a href="/login"
        style="text-decoration: none;">Login</a></p>