
<section>
    <div class="container-fluid">
        <h5 class="p-4">Today's Deals</h5>
        <div class="flex-row d-flex flex-wrap">
            <div class="pl-5 pb-4">
                <img src="/public/images/nothing phone 1.jpg" alt="" style="width: 10rem;">
                <p class="p-0 m-0">nothing phone 1</p>
                <p class="p-0 m-0">10,0000</p>
            </div>
            <div class="pl-5 pb-4">
                <img src="/public/images/nothing phone 1.jpg" alt="" style="width: 10rem;">
                <p class="p-0 m-0">nothing phone 1</p>
                <p class="p-0 m-0">10,0000</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h5 class="p-4">Smartphones</h5>
        <div class="flex-row d-flex flex-wrap">
            <div class="pl-5 pb-4">
                <img src="/public/images/nothing phone 1.jpg" alt="" style="width: 10rem;">
                <p class="p-0 m-0">nothing phone 1</p>
                <p class="p-0 m-0">10,0000</p>
            </div>
            <div class="pl-5 pb-4">
                <img src="/public/images/nothing phone 1.jpg" alt="" style="width: 10rem;">
                <p class="p-0 m-0">nothing phone 1</p>
                <p class="p-0 m-0">10,0000</p>
            </div>
        </div>
    </div>

</section>