
<section>
    <div id="LoginSection" class="text-center">
        <h5 class="d-flex p-4">Login</h5>
        <form class="mx-3" method="post">
            <!-- Email input -->
            <div class="mb-4">
              <input type="email" id="form2Example1" placeholder="Email" class="form-control" required/>
            </div>
          
            <!-- Password input -->
            <div class="">
              <input type="password" id="form2Example2" placeholder="Password" class="form-control" required/>
            </div>
            <a class="d-block text-right pt-1" href="/changepass" style="text-decoration: none;">forgot password ?</a>
            <button class="btn btn-primary d-block">Login</button>
        </form>
    </div>
    <p type="submit" class="text-center pt-3 text-secondary">I don't have an account?  <a href="/signup" style="text-decoration: none;"> Create One</a></p>
</section>



