<!-- body here  -->
<div class="container-fluid">
    <div class="mt-5 row">
        <div class="col-5 col text-center">
            <img class="mb-4" src="/public/images/nothing phone 1.jpg" alt="" style="height: 20rem;">
            <div>
                <a href="" class="btn btn-success mr-5">Add to Cart</a>
                <a href="" class="btn btn-primary ml-5">Buy now</a>
            </div>
        </div>
        <div class="col-6">
            <h3>NIKON Z5 Mirrorless Camera 24-200 mm (Black)</h3>
            <h3>₹1,59,995</h3>
            <p class="text-danger mb-2">out of stock</p>
            <p class="mb-1">seller : new shop</p>
            <p>2 year warranty</p>
            <p class="mb-2"> Clear Voice Calls- Be heard absolutely clear across voice calls wherever you are with the
                ENx Tech enabled Airdopes 172, that cancels out unwanted background noise during calls.
                Low Latency for Gaming- Enjoy a lag less gaming and entertainment experience with BEAST Mode for low
                latency so that your sessions always stay smooth.</p>

        </div>
    </div>
</div>