<!-- body here  -->
<div class="container-fluid">
    <div class="row m-4">
        <div class="col-6">
            <h5>Payment Option</h5>
            <p>Cash on Delivery (COD)</p>
            <p>Online Payment</p>
            <a href="" class="btn btn-primary">Pay</a>
        </div>
        <div class="col-6 text-right d-flex flex-column">
            <h5>Amount Payable : <span>₹7,499</span></h5>
            <div class="mt-auto">
                <a href="" class=" btn btn-primary">Shop now</a>
            </div>

        </div>
    </div>
</div>