<!-- body here  -->
<!-- no orders  -->
<div class="container-fluid text-center">
    <img class="text-secondary mt-5" src="/public/images/order-box.svg" style="height: 75px;" alt="">
    <h4 class="mt-2">No orders Yet !</h4>
    <p>Add items to cart and checkout .</p>
    <div class="mb-2">
        <a href="" class="btn btn-primary">Shop now</a>
    </div>
</div>



<!-- if orders are here -->

<div class="container-fluid">
    <h4 class="m-4">Order Details</h4>
    <div class="row mx-4 box-shadow mb-3">
        <div class="col-8">
            <p class="text-secondary m-2">Order : #34739437423847832jfhd</p>
            <div class="col">
                <div class="row mb-3">
                    <img src="/public/images/nothing phone 1.jpg" alt="" style="height: 5rem;">
                    <div class="ml-2">
                        <h6>product name</h6>
                        <p class="mb-0">Qty : 1</p>
                        <p class="mb-0">20 January, 2022 9:55 Pm</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <img src="/public/images/nothing phone 1.jpg" alt="" style="height: 5rem;">
                    <div class="ml-2">
                        <h6>product name</h6>
                        <p class="mb-0">Qty : 1</p>
                        <p class="mb-0">20 January, 2022 9:55 Pm</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4 d-flex align-items-end flex-column mb-3">
            <a href="" class="mt-auto btn btn-primary">View Orders</a>
        </div>
    </div>
</div>